-e git+https://github.com/slugnasty/bepto-engine.git@89f57795508299061b5c3d6d60b486ef13606e2b#egg=bengine&subdirectory=bengine
cx-Freeze==6.10
cx-Logging==3.0
glfw==2.5.0
numpy==1.22.2
PyOpenGL==3.1.5
